@import 'tailwindcss';

:root {
  --background: 0 0% 100%;
  --foreground: 224 71.4% 4.1%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 224 71.4% 4.1%;
}

.dark {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
  --border: 220 13% 20%;
  --input: 220 13% 20%;
  --ring: 210 20% 98%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}